#gone-2{
    display: none !important;
}
.footer-text{
    width: 50%;
}
.client-mail{
    width: 50%;
}
.r-poster{
    width: 30%;
}
.l-poster{
    width: 70%;
}
.f-ul-1 li{
   margin: 5px !important;
}
.footer-widget{
    width: 95%;
}
.archive-buttons , .archive-title{
    margin-bottom: 0;
}