#gon-4{
    display: none !important;
}
.header-first-ul{
    font-size: 14px;
    margin-top: 25px;
}
.season-1-explain{
    margin-bottom: 10px;
}
.l-poster{
    margin-left: auto;
    margin-right: auto;
}